html{
	min-height: 94%;
	height:94%;
}
body{
	position: relative;
 	margin: 0;
 	padding-bottom: 6rem;
 	min-height: 94%;
 	height:94%;
}

.article-header{
	background-color: #6999FF;
	border: 1px solid black;
	padding:20px 50px;
	font-size: 16pt;
	font-weight: bold;
	margin-bottom:30px;
}

.green{
	background-color:green;
}

.footer{
	border-top:1px solid black;
	display: block;
	clear: both;
	position: relative;
	z-index: 10;
	padding: 20px 0;
	width:100%;
	height: 20px;
	text-align: center;
}

.header{
	text-align: center;
	background-color: white;
	border-bottom:1px solid grey;
}

.page{
	margin-top:50px;
	margin-bottom:50px;
	padding-bottom: 100px;
	min-height: 94%;
	height: 94%;
}

.sidebar{
	min-width: 150px;
	margin-top:100px;
}

.author-span{
	background-color: darkred;
	color:white;
	height:20px;
	margin:1px 5px;
	padding:0px 10px;
	border-radius: 3px;
	display: block;
	float:left;
}

.tag-span{
	background-color: #008080;
	color:white;
	height:20px;
	margin:1px 5px;
	padding:0px 10px;
	border-radius: 3px;
	display: block;
	float:left;
}
.date{
	font-weight: bold;
	font-style: italic;
	font-size: 8pt;
	text-indent:20px;
}
.article-title{
	font-size:14pt;
	text-transform: uppercase;
}
.comments-label{
	text-align: center;
	font-size: 13pt;
	width:600px;
	text-transform: uppercase;
	background-color: #C0C0C0;
	border:1px solid white;
	border-radius:2px;
	display:block;
	padding:10px 20px;
}

.comments-label:hover{
	cursor:pointer;
	font-size: 13pt;
	text-align: center;
	text-transform: uppercase;
	width:600px;
	background-color: #E0E0E0;
	border:1px solid white;
	border-radius:2px;
	display:block;
	padding:10px 20px;

}

.margin-bottom-row{
	margin-bottom: 30px;
}
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.button{
	display: block;
	float:left;
	width: 80px;
	height: 33px;
	font-size: 8pt;
	text-transform: uppercase;
	padding:8px 2px 8px 0px;
	border-radius: 5px;
	margin-right: 0px;
	text-align: center;
	cursor: pointer;
	border: 0px;
}

.blue{
	background-color: #1E90FF;
	color:white;
}
.blue:hover{
	background-color: #00BFFF;
	color:white;
	text-decoration: none;
}
.red:hover{
	background-color: #00BFFF;
	color:white;
	text-decoration: none;
}
.link-button a:hover{
	text-decoration: none;
	color:white;
}
.link-button a:link{
	text-decoration: none;
	color:white;
}

.link-button a:visited{
	text-decoration: none;
	color:white;
}
.link-button a:active{
	text-decoration: none;
	color:white;
}
.nextbtn{
	display: block;
	width: 50px;
	height: 33px;
	font-size: 14pt;
	text-transform: uppercase;
	padding:8px 10px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px; 
	text-align: center;
}
.prevbtn{
	text-align: center;
	display: block;
	width: 50px;
	height: 33px;
	font-size: 14pt;
	text-transform: uppercase;
	padding:8px 10px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px; 
}
.nextbtn:hover{
	cursor: pointer;
}
.prevbtn:hover{
	cursor: pointer;
}
.red{
	background-color:#8B0000;
	color:white;
}
.red:hover{
	background-color:#CD5C5C;
	color:white;
}
.red a:hover{
	text-decoration: none;
	color:white;
}
.page-number{
	display: block;
	padding-top:6px;
	font-weight: bold;
}
.teal{
	background-color: #008080;
	color:white;
}
.teal:hover{
	background-color:#20B2AA;
	color:white;
	text-decoration: none;
}

.big-button{
	display: block;
	float:left;
	width: 120px;
	height: 35px;
	font-size: 12pt;
	text-transform: uppercase;
	padding:8px 0px 8px 0px;
	border-radius: 5px;
	margin-right: 3px;
	text-align: center;
	cursor: pointer;
}
.dropdown{
	margin-top:8px;
	width:100px;
	margin-bottom: 10px;
}
.news-list-header{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12pt;
}

.close-button{
	background-color: transparent;
	border:none;
	margin-left:10px;
	font-size:10pt;
}
.success-message{
	color:#008080;
	text-transform: uppercase;
	font-weight: bold;
	font-size:14pt;
}
.error-message{
	color:darkred;
	text-transform: uppercase;
	font-weight: bold;
	font-size:14pt;
}
.tag-dropdown-element{
	text-indent:15px;
	display:block;
	min-width:200px;
	cursor: pointer;
}
.tag-dropdown-element:hover{
	background-color: teal;
	color:white;
}

.comments-dropdown-element{
	text-indent:15px;
	display:block;
	min-width:200px;
	cursor: pointer;
}
.comments-dropdown-element:hover{
	background-color: #1E90FF;
	color:white;
}

.author-dropdown-element{
	text-indent:15px;
	display:block;
	min-width:200px;
	cursor: pointer;
}
.author-dropdown-element:hover{
	background-color: darkred;
	color:white;
}
.false{
	background-color: #CDCDCD;
}
.false:hover{
	background-color: #CDCDCD;
}

.error-page-message{
	font-size: 14pt;
	font-weight: bold;
	color:darkred;
	display:block;
	margin-top:50px;
}
.ok-cancel-dialog{
	padding:50px 20px;
}

.newsListBody{
	min-height: 800px;	
}
.button-icon{
	cursor:pointer;
	font-size: 16pt;
}

.add-news-dialog{
padding:50px 70px 50px 50px;
}
.edit-button{
	width:50px;
	font-size: 14pt;
}
.delete-button{
	width:50px;
	font-size: 14pt;
}
.back-button{
	font-size:13pt;
}
.view-button{
	width:50px;
	font-size: 14pt;
}
.dialog-title{
font-size: 16px;
color:teal;
font-weight: bold;
text-transform: uppercase;
}