<div class="row ok-cancel-dialog">
	<div class="col-md-8 col-md-offset-2">
	<span class="dialog-title">{{$ctrl.windowTitle}}</span>
		<p>Please enter new author:</p>
		<br/>
		<form ng-submit="$ctrl.save()">
			<div class="row">
				<p>First name: 
				<input type="text" ng-model="$ctrl.author.firstName" required pattern="[А-яA-z-\s{1}]{2,20}" 
				title="First name should contain only letters, '-' and spaces. Type between 2 and 20 characters.">
				</p>
			</div>
			<div class="row">
				<p>Last name: 
				<input type="text" ng-model="$ctrl.author.lastName" required pattern="[А-яA-z-\s{1}]{2,20}" 
				title="Last name should contain only letters, '-' and spaces. Type between 2 and 20 characters.">
				</p>
			</div>
			<div class="row">
				<input type="submit" value="OK" class="button teal"/><a class="button red" ng-click="$ctrl.cancel()">Cancel</a>
			</div>
		</form>
	</div>
</div>