<div class="container add-news-dialog">
<div class="row"><div class="col-md-3 col-md-offset-2 dialog-title">{{$ctrl.windowTitle}}</div></div>
	<div class="row">
		<form  id="saveNewsForm">
			<p>Title: </p>
			<input type="text" size="50" ng-model="$ctrl.news.title"/>
			<p>Short text: </p>
			<textarea rows="3" cols="70" ng-model="$ctrl.news.shortText" form="saveNewsForm">Enter text here...</textarea>
			<p>Full text: </p>
			<textarea rows="8" cols="70" ng-model="$ctrl.news.fullText" form="saveNewsForm">Enter text here...</textarea>
	</div>
	<br/>

	<div class="row">
		<div class="col-md-2">
			<div class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					Select tag
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu  scrollable-menu" aria-labelledby="dropdownMenu1">
					<li ng-repeat="tag in $ctrl.tagsList"><span class="tag-dropdown-element" ng-click="$ctrl.addTag(tag)">{{tag.tag}}</span></li>
				</ul>
			</div>
		</div>
		<div class="col-md-5">
			<span class="tag-span" ng-repeat="tag in $ctrl.news.tags">{{tag.tag}}<button ng-click="$ctrl.removeTag(tag)" class="close-button">x</button></span>
		</div>
	</div>

	<div class="row">
		<div class="col-md-2">
			<div class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				Select author
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu  scrollable-menu" aria-labelledby="dropdownMenu1">
				<li ng-repeat="author in $ctrl.authorsList"><span class="author-dropdown-element" ng-click="$ctrl.addAuthor(author)">
				{{author.firstName}} {{author.lastName}}</span></li>
			</ul>
		</div>
	</div>

	<div class="col-md-5">
		<span class="author-span" ng-repeat="author in $ctrl.news.authors">{{author.firstName}} {{author.lastName}}<button ng-click="$ctrl.removeAuthor(author)" class="close-button">x</button></span>
	</div>

</div>	
<br/>
<div class="row">
<a class="big-button teal" ng-click="$ctrl.save()">Save<a/>
<a class="big-button red" ng-click="$ctrl.cancel()">Cancel<a/>
</a>
</form>
</div>

