<div class="row ok-cancel-dialog">
	<div class="col-md-12 col-md-offset-2">
		<span class="dialog-title">{{$ctrl.windowTitle}}</span>
		<p>Please enter new tag value:</p>
		<br/>
		<form ng-submit="$ctrl.update()">
			<div class="row">
				<div class="col-md-4">
					<input type="text" ng-model="$ctrl.tag" required pattern="[А-яA-z-\s{1}]{2,20}" 
					title="Tag should contain only letters, '-' and spaces. Type between 2 and 20 characters.">
				</div>
				<div class="col-md-2">
					<input type="submit" value="OK" class="button teal"/>
				</div>
				<div class="col-md-2">
					<a class="button red" ng-click="$ctrl.cancel()">Cancel</a>
				</div>
			</div>
		</form>
	</div>
</div>