<div class="container">
	<div class="row">
		<div class="col-md-2 col-md-offset-1">
			<a class="big-button link-button teal" ng-click="$ctrl.addNews()">Add news</a>
		</div>
		<div class="col-md-3">
			News on page:
			<select class="dropdown" name="number" ng-model="$ctrl.number" ng-change="$ctrl.changeNewsNumber()" ng-options="option for option in ['10','5','3']" ng-init="$ctrl.number='10'">
			</select>
		</div>
	</div>
</div>
<br/>
<br/>

<div class="row">
	<div class="col-md-3 col-md-offset-1">
		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
			 data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				Search by tag
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu  scrollable-menu" aria-labelledby="dropdownMenu1">
				<li ng-repeat="tagWithNumber in $ctrl.tagsList"><span class="tag-dropdown-element" ng-click="$ctrl.findByTag(tagWithNumber.tag.tag)">{{tagWithNumber.tag.tag}} ({{tagWithNumber.newsNumber}})</span></li>
			</ul>
		</div>
	</div>
	<div class="col-md-3">
		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
			 data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				Search by author
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu  scrollable-menu" aria-labelledby="dropdownMenu1">
				<li ng-repeat="authorWithNumber in $ctrl.authorsList" class="author-dropdown-element" ng-click="$ctrl.findByAuthorId(authorWithNumber.author.id)">{{authorWithNumber.author.firstName}} {{authorWithNumber.author.lastName}} ({{authorWithNumber.newsNumber}})</li>
			</ul>
		</div>
	</div>
	<div class="col-md-2">
		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
			 data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				Top commented
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu  scrollable-menu" aria-labelledby="dropdownMenu1">
				<li class="comments-dropdown-element" ng-click="$ctrl.topByComments(5)">Top 5</li>
				<li class="comments-dropdown-element" ng-click="$ctrl.topByComments(20)">Top 20</li>
				<li class="comments-dropdown-element" ng-click="$ctrl.topByComments(100)">Top 100</li>
			</ul>
		</div>
	</div>
</div>
<br/>
<div class="newsListBody">
	<ul class="list-group">
		<li class="list-group-item" ng-repeat="news in $ctrl.newsList">
			<p class="news-list-header">{{news.title}} </p>
			<p>{{news.authors.length==0 ? 'Unknown author':'Created by:' }}
				<span ng-repeat="author in news.authors">
					{{author.firstName}} {{author.lastName}}{{$last ? '' : ', '}}
				</span>
			</p>
			<p>{{news.tags.length==0 ? '':'Tags:' }} 
				<span ng-repeat="tag in news.tags">
					{{tag.tag}}{{$last ? '' : ', '}}
				</span>
			</p>
			<p>Short text: {{news.shortText}}</p>
			<p class="date">Created: {{news.creationDate | date : 'short' }}. Last modified: {{news.modificationDate | date : 'short'}}</p>
			<span class="pull-right">
				<a title="Edit" class="button link-button teal glyphicon glyphicon-pencil edit-button" ng-click="$ctrl.updateNews(news)"></a>
				<a title="Delete" class="button link-button red glyphicon glyphicon-trash delete-button" ng-click="$ctrl.deleteNews(news.id)"></a>
				<a title="View" class="button link-button blue glyphicon glyphicon-eye-open view-button" href="#/news/{{news.id}}"></a>
			</span>
			<br/>
			<br/>
		</li>
	</ul>
</div>
<div class="row link-button">
	<div class="col-md-1 col-md-offset-3">
		<a class="nextbtn blue glyphicon glyphicon-chevron-left {{$ctrl.nextPageExist}}" ng-click="$ctrl.nextPage()"></a>
	</div>
	<div class="col-md-1 page-number">Page:{{$ctrl.page}}</div>
	<div class="col-md-2">
		<a class="prevbtn red glyphicon glyphicon-chevron-right {{$ctrl.previousPageExist}}" ng-click="$ctrl.previousPage()"></a>
	</div>
</div>
<br/>