<!DOCTYPE HTML>
<html ng-app="newsApp">
<head>
	<meta charset="utf-8">
	<title>News</title>
	<script  src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
	<script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
	<script type="text/javascript" src="bower_components/angular-resource/angular-resource.js"></script>
	<script type="text/javascript" src="bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js"></script>
	
	<script type="text/javascript" src="newsApp.module.js"></script>
	<script type="text/javascript" src="newsApp.config.js"></script>
	
	<script type="text/javascript" src="components/news/list/module.js"></script>
	<script type="text/javascript" src="components/tags/list/module.js"></script>
	<script type="text/javascript" src="components/authors/list/module.js"></script>
	<script type="text/javascript" src="components/news/page/module.js"></script>
	<script type="text/javascript" src="components/error-page/module.js"></script>
	
	<script type="text/javascript" src="components/tags/list/component.js"></script>
	<script type="text/javascript" src="components/authors/list/component.js"></script>
	<script type="text/javascript" src="components/news/list/component.js"></script>
	<script type="text/javascript" src="components/news/page/component.js"></script>
	<script type="text/javascript" src="components/error-page/component.js"></script>
	
	<script type="text/javascript" src="components/news/list/service.js"></script>
	<script type="text/javascript" src="components/authors/list/service.js"></script>
	<script type="text/javascript" src="components/tags/list/service.js"></script>
	<script type="text/javascript" src="components/news/page/comment-service.js"></script>
	
	<script type="text/javascript" src="components/news/list/controller.js"></script>
	<script type="text/javascript" src="components/news/list/accept-dialog-controller.js"></script>
	<script type="text/javascript" src="components/news/list/add-dialog-controller.js"></script>
	<script type="text/javascript" src="components/tags/list/dialog-controller.js"></script>
	<script type="text/javascript" src="components/authors/list/add-dialog-controller.js"></script>
	<script type="text/javascript" src="components/authors/list/update-dialog-controller.js"></script>
	<script type="text/javascript" src="components/tags/list/update-dialog-controller.js"></script>
	
</head>

<body>
	<div class="panel-heading header row">
		<div class="col-md-2 col-md-offset-2">
			<a title="Back" class="button red glyphicon glyphicon-arrow-left back-button" ng-click="$root.back()"></a>
		</div>
		<div class="col-md-2 col-md-offset-1">
			<span>News management</span>
		</div>		
	</div>
	<div class="container page">
		<div class="row">
			<div class="col-md-1">
				<div class="list-group sidebar">
					<a class="list-group-item" href="#/news">News</a>
					<a class="list-group-item" href="#/author">Authors</a>
					<a class="list-group-item" href="#/tag">Tags</a>
				</div>
			</div>
			<div class="col-md-8 col-md-offset-2">
				<div ng-view></div>	
			</div>
		</div>
	</div>
	<div class="footer">Copyright &#9400;</div>
</body>
</html>