<div class="container">
	<div class="row margin-bottom-row">
		<div class="col-md-8">
			<h2 class="article-title">{{$ctrl.news.title}}</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-1">
					{{$ctrl.news.authors.length==0 ? '':'Created by:' }} 
				</div>
				<div class="col-md-7">
					<span class="author-span" ng-repeat="author in $ctrl.news.authors">
						{{author.firstName}} {{author.lastName}}
					</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1">
					{{$ctrl.news.tags.length==0 ? '':'Tags:' }}
				</div>
				<div class="col-md-7">
					<span class="tag-span" ng-repeat="tag in $ctrl.news.tags">
						{{tag.tag}}
					</span>
				</div>
			</div>
			<br/>
			<p>Short text: {{$ctrl.news.shortText}}</p>
			<br/>
			<p>Full text: {{$ctrl.news.fullText}}</p>
			<br/>
			<p><span class="date">Created:{{ $ctrl.news.creationDate | date : 'short' }}. Last modified: {{ $ctrl.news.modificationDate | date : 'short' }}</span></p>
			<br/>
		</div>
	</div>
	<div class="row margin-bottom-row" ng-click="showDetails = ! showDetails">
		<span class="comments-label">Comments :</span>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="row" ng-show="showDetails">
				<div class="row">
					<form id="commentForm">
						<div class="col-md-2">
							<a ng-click="$ctrl.addComment()" class="button teal">Add</a>
						</div>
						<div class="col-md-9">
							<textarea ng-model="$ctrl.newComment" form="commentForm" rows="3" cols="65"></textarea>
						</div>
					</form>
				</div>
				<ul class="list-group" >
					<li class="list-group-item comments-list" ng-repeat="comment in $ctrl.comments track by comment.id">
						<div class="row">
							<div class="col-md-11">
								<span>{{comment.commentText}} </span>
								<span class="date"><p>Created: {{comment.creationDate | date : 'short' }}</p></span>
							</div>
							<div class="col-md-1">
								<span class="button-icon glyphicon glyphicon-remove" ng-click="$ctrl.deleteComment(comment)"></span>
							</div>
						</div>
					</li>
				</ul>
				<div class="row link-button">
					<div class="col-md-1 col-md-offset-4">
						<a class="nextbtn blue  glyphicon glyphicon-chevron-left  {{$ctrl.nextPageExist}}" ng-click="$ctrl.nextPage()"></a>
					</div>
					<div class="col-md-1 page-number">Page:{{$ctrl.page}}</div>
					<div class="col-md-2">
						<a class="prevbtn red  glyphicon glyphicon-chevron-right {{$ctrl.previousPageExist}}" ng-click="$ctrl.previousPage()"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br/>